@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend+Deca:wght@100;200;300;400;500;700;800&family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}
.all {
  display: flex;
  padding: 0px;
  background-color: white;
}

h1{
  font-size: 2rem;
  color: rgba(25, 29, 32, 1);
}

p{
  font-size: 1rem;
  color: rgba(87, 102, 111, 1);
}

.form-box {
  width: 678px;
  height: 792px;
  left: 762px;
  padding: 100px;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.input-box {
  width: 100%;
  padding: 0px;
  margin: 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input-box {
  width: 100%;
  padding: 16px;
  margin: 0;
  border: 1px solid #dedede;
  background: #f8f7f7;
  border-radius: 4px;
  justify-content:center;
}

.input-box:focus{
  border: 2px solid rgba(26, 130, 190, 1);
  background: rgba(245, 251, 255, 1);
  outline-style: none; 
  box-shadow: none;
}


.phone-box{
  width: 90%;
  max-width: 400px;
  position: relative;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 8px;
}

.phone-isp-icon{
  width: 48px;
  height: 48px;
  background: #e7e7e7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isp-icon{
  width: 50%;
  display: block;
  height: auto;
  object-fit: contain;
  animation: spin 1000ms linear infinite;
}

.isp-icon.stop-animate{
  transform: rotate(0deg);
  animation: initial;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.phone-box label{
  position: absolute;
  top:0;
  left: 0;
  transform: translate(0,-110%);
  font-size: 12px;
}

input {
  flex-grow: 1;
  height: 48px;
  padding: 0px 16px;
  margin: 0;
  border: 1px solid #dedede;
  background: #f8f7f7;
  border-radius: 8px;
  justify-content:center;
}

input:focus{
  border: 2px solid rgba(26, 130, 190, 1);
  background: rgba(245, 251, 255, 1);
  outline-style: none; 
  box-shadow: none;
}




.submit-btn {
  background-color: #a9afb3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
